* {
    box-sizing: border-box;
    }

body {
    background-image: url("bg.jpg");
    font-family: sans-serif;
    font-size: 12px;
    width: 100%;
    align-content: center;
}

hr {
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    border-width: 1px;
}

p {
    display: block;
    text-align: center;
    font-style: initial;
    font-family: Cambria;
    font-size: 25px;
    line-height: 50px;
}

header {
top: 10px;
background: white;
}

input[type=text], input[type=password], input[type=number], select, textarea {
    width: 35%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    background-color: plum;
    
}
.bg {
    display: block;
    padding: 25px 50px;
    text-align : center;
    

}